li {	
	list-style-type: none;	
	background-color: #000000;
	font-size: 30px;
	color: #be0000;	
}

.num { 
	background: #6d04cf;
	background-image: -webkit-linear-gradient(top, #6d04cf, #311857);
	background-image: -moz-linear-gradient(top, #6d04cf, #311857);
	background-image: -ms-linear-gradient(top, #6d04cf, #311857);
	background-image: -o-linear-gradient(top, #6d04cf, #311857);
    background-image: -o-linear-gradient(top, #6d04cf, #311857);
	-webkit-border-radius: 10;
	-moz-border-radius: 10;
    border-radius: 10px;
	font-family: Courier New;
	color: #ffffff;
    font-size: 30px;
	padding: 24px 20px 24px 20px;
	text-decoration: none;
}

.num:hover {
	background: #974fdb;
	background-image: -webkit-linear-gradient(top, #974fdb, #482f70);
	background-image: -moz-linear-gradient(top, #974fdb, #482f70);
    background-image: -ms-linear-gradient(top, #974fdb, #482f70);
	background-image: -o-linear-gradient(top, #974fdb, #482f70);
	background-image: linear-gradient(to bottom, #974fdb, #482f70);
	text-decoration: none;

}

.act { 
	background: #6d04cf;
	background-image: -webkit-linear-gradient(top, #eb5938, #ab2e18);
	background-image: -moz-linear-gradient(top, #eb5938, #ab2e18);
	background-image: -ms-linear-gradient(top, #eb5938, #ab2e18);
	background-image: -o-linear-gradient(top, #eb5938, #ab2e18);
    background-image: -o-linear-gradient(top, #eb5938, #ab2e18);
	-webkit-border-radius: 10;
	-moz-border-radius: 10;
    border-radius: 10px;
	font-family: Courier New;
	color: #ffffff;
    font-size: 30px;
	padding: 24px 20px 24px 20px;
	text-decoration: none;
}

.act:hover {
	background: #974fdb;
	background-image: -webkit-linear-gradient(top, #f07d63, #cc4531);
	background-image: -moz-linear-gradient(top, #f07d63, #cc4531);
    background-image: -ms-linear-gradient(top, #f07d63, #cc4531);
	background-image: -o-linear-gradient(top, #f07d63, #cc4531);
	background-image: linear-gradient(to bottom, #f07d63, #cc4531);
	text-decoration: none;
}

.zer { 
	background: #6d04cf;
	background-image: -webkit-linear-gradient(top, #6d04cf, #311857);
	background-image: -moz-linear-gradient(top, #6d04cf, #311857);
	background-image: -ms-linear-gradient(top, #6d04cf, #311857);
	background-image: -o-linear-gradient(top, #6d04cf, #311857);
    background-image: -o-linear-gradient(top, #6d04cf, #311857);
	-webkit-border-radius: 10;
	-moz-border-radius: 10;
    border-radius: 10px;
	font-family: Courier New;
	color: #ffffff;
    font-size: 30px;
	padding: 24px 54px 24px 54px;
	text-decoration: none;
}

.zer:hover {
	background: #974fdb;
	background-image: -webkit-linear-gradient(top, #974fdb, #482f70);
	background-image: -moz-linear-gradient(top, #974fdb, #482f70);
    background-image: -ms-linear-gradient(top, #974fdb, #482f70);
	background-image: -o-linear-gradient(top, #974fdb, #482f70);
	background-image: linear-gradient(to bottom, #974fdb, #482f70);
	text-decoration: none;
}

.clr { 
	background: #6d04cf;
	background-image: -webkit-linear-gradient(top, #eb5938, #ab2e18);
	background-image: -moz-linear-gradient(top, #eb5938, #ab2e18);
	background-image: -ms-linear-gradient(top, #eb5938, #ab2e18);
	background-image: -o-linear-gradient(top, #eb5938, #ab2e18);
    background-image: -o-linear-gradient(top, #eb5938, #ab2e18);
	-webkit-border-radius: 10;
	-moz-border-radius: 10;
    border-radius: 10px;
	font-family: Courier New;
	color: #ffffff;
    font-size: 30px;
	padding: 24px 20px 24px 20px;
	text-decoration: none;
}

.clr:hover {
	background: #974fdb;
	background-image: -webkit-linear-gradient(top, #f07d63, #cc4531);
	background-image: -moz-linear-gradient(top, #f07d63, #cc4531);
    background-image: -ms-linear-gradient(top, #f07d63, #cc4531);
	background-image: -o-linear-gradient(top, #f07d63, #cc4531);
	background-image: linear-gradient(to bottom, #f07d63, #cc4531);
	text-decoration: none;
}

.sqr { 
	background: #6d04cf;
	background-image: -webkit-linear-gradient(top, #eb5938, #ab2e18);
	background-image: -moz-linear-gradient(top, #eb5938, #ab2e18);
	background-image: -ms-linear-gradient(top, #eb5938, #ab2e18);
	background-image: -o-linear-gradient(top, #eb5938, #ab2e18);
    background-image: -o-linear-gradient(top, #eb5938, #ab2e18);
	-webkit-border-radius: 10;
	-moz-border-radius: 10;
    border-radius: 10px;
	font-family: Courier New;
	color: #ffffff;
    font-size: 30px;
	padding: 19px 21px 19px 21px;
	text-decoration: none;
}

.sqr:hover {
	background: #974fdb;
	background-image: -webkit-linear-gradient(top, #f07d63, #cc4531);
	background-image: -moz-linear-gradient(top, #f07d63, #cc4531);
    background-image: -ms-linear-gradient(top, #f07d63, #cc4531);
	background-image: -o-linear-gradient(top, #f07d63, #cc4531);
	background-image: linear-gradient(to bottom, #f07d63, #cc4531);
	text-decoration: none;
}

.equ { 
	background: #6d04cf;
	background-image: -webkit-linear-gradient(top, #eb5938, #ab2e18);
	background-image: -moz-linear-gradient(top, #eb5938, #ab2e18);
	background-image: -ms-linear-gradient(top, #eb5938, #ab2e18);
	background-image: -o-linear-gradient(top, #eb5938, #ab2e18);
    background-image: -o-linear-gradient(top, #eb5938, #ab2e18);
	-webkit-border-radius: 10;
	-moz-border-radius: 10;
    border-radius: 10px;
	font-family: Courier New;
	color: #ffffff;
    font-size: 30px;
	padding: 24px 28px 24px 28px;
	text-decoration: none;
}

.equ:hover {
	background: #974fdb;
	background-image: -webkit-linear-gradient(top, #f07d63, #cc4531);
	background-image: -moz-linear-gradient(top, #f07d63, #cc4531);
    background-image: -ms-linear-gradient(top, #f07d63, #cc4531);
	background-image: -o-linear-gradient(top, #f07d63, #cc4531);
	background-image: linear-gradient(to bottom, #f07d63, #cc4531);
	text-decoration: none;
}
